<div class="bike-characteristics">
    {{#each bike.characteristics}}
        <h2>{{@key}}</h2>

        {{#each this}}
            <h3>{{@key}}</h3>

            <ul>
                {{#each this}}
                    <li><b>{{@key}}</b>: {{this}}</li>
                {{/each}}
            </ul>
        {{/each}}
    {{/each}}
</div>